VS2019_DirectX12_2D_Game/.vs/VS2019_DirectX12_2D_Game/v15/.suo
VS2019_DirectX12_2D_Game/.vs/VS2019_DirectX12_2D_Game/v16/.suo
VS2019_DirectX12_2D_Game/.vs/VS2019_DirectX12_2D_Game/v16/ipch/AutoPCH/f1f56d784e6231bc/APPLICATION.ipch
VS2019_DirectX12_2D_Game/.vs/VS2019_DirectX12_2D_Game/v16/ipch/AutoPCH/d3558fb1889e9e22/DX12WRAPPER.ipch
VS2019_DirectX12_2D_Game/.vs/VS2019_DirectX12_2D_Game/v16/Browse.VC.opendb
VS2019_DirectX12_2D_Game/.vs/VS2019_DirectX12_2D_Game/v16/Browse.VC.db
